In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [ ]:
data=pd.read_csv("/content/Titanic-Dataset.csv")
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
data['Cabin'].value_counts()

B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: Cabin, Length: 147, dtype: int64

In [ ]:
data=pd.DataFrame(data)

In [ ]:
data['Cabin'].replace(np.nan,'B96 B98',inplace=True)
data['Cabin']

0      B96 B98
1          C85
2      B96 B98
3         C123
4      B96 B98
        ...
886    B96 B98
887        B42
888    B96 B98
889       C148
890    B96 B98
Name: Cabin, Length: 891, dtype: object

In [ ]:
data['Cabin'].isnull().sum()

0

In [ ]:
data['Age'].replace(np.nan,data['Age'].mean(),inplace=True)

In [ ]:
data['Age'].isnull().sum()

0

In [ ]:
data['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
data['Embarked'].replace(np.nan,'S',inplace=True)

In [ ]:
data['Embarked'].isnull().sum()

0

In [ ]:
dataf=data[['Survived','Pclass','Sex','Age','SibSp','Parch','Fare','Embarked','Cabin']]
dataf.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked    Cabin
0         0       3    male  22.0      1      0   7.2500        S  B96 B98
1         1       1  female  38.0      1      0  71.2833        C      C85
2         1       3  female  26.0      0      0   7.9250        S  B96 B98
3         1       1  female  35.0      1      0  53.1000        S     C123
4         0       3    male  35.0      0      0   8.0500        S  B96 B98

In [ ]:
dataf["Sex"]=dataf["Sex"].replace(to_replace=dataf["Sex"].unique(),value=[0,1])
dataf

<ipython-input-17-1167fc50d016>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataf["Sex"]=dataf["Sex"].replace(to_replace=dataf["Sex"].unique(),value=[0,1])

     Survived  Pclass  Sex        Age  SibSp  Parch     Fare Embarked    Cabin
0           0       3    0  22.000000      1      0   7.2500        S  B96 B98
1           1       1    1  38.000000      1      0  71.2833        C      C85
2           1       3    1  26.000000      0      0   7.9250        S  B96 B98
3           1       1    1  35.000000      1      0  53.1000        S     C123
4           0       3    0  35.000000      0      0   8.0500        S  B96 B98
..        ...     ...  ...        ...    ...    ...      ...      ...      ...
886         0       2    0  27.000000      0      0  13.0000        S  B96 B98
887         1       1    1  19.000000      0      0  30.0000        S      B42
888         0       3    1  29.699118      1      2  23.4500        S  B96 B98
889         1       1    0  26.000000      0      0  30.0000        C     C148
890         0       3    0  32.000000      0      0   7.7500        Q  B96 B98

[891 rows x 9 columns]

In [ ]:
dataf=pd.get_dummies(dataf,drop_first=True)
dataf

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_Q,Embarked_S,Cabin_A14,...,Cabin_E8,Cabin_F E69,Cabin_F G63,Cabin_F G73,Cabin_F2,Cabin_F33,Cabin_F38,Cabin_F4,Cabin_G6,Cabin_T
0,0,3,0,22.000000,1,0,7.2500,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,38.000000,1,0,71.2833,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,3,1,26.000000,0,0,7.9250,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,35.000000,1,0,53.1000,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,3,0,35.000000,0,0,8.0500,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,27.000000,0,0,13.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,0
887,1,1,1,19.000000,0,0,30.0000,0,1,0,...,0,0,0,0,0,0,0,0,0,0
888,0,3,1,29.699118,1,2,23.4500,0,1,0,...,0,0,0,0,0,0,0,0,0,0
889,1,1,0,26.000000,0,0,30.0000,0,0,0,...,0,0,0,0,0,0,0,0,0,0
890,0,3,0,32.000000,0,0,7.7500,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
train_y=dataf["Survived"]
train_x=dataf[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked_Q','Embarked_S','Cabin_A14','Cabin_A16','Cabin_A19','Cabin_A20','Cabin_A23','Cabin_A24','Cabin_A26','Cabin_A31','Cabin_A32','Cabin_A34','Cabin_A36']]

In [ ]:
from sklearn.model_selection import train_test_split
train_data,val_data,train_target,val_target=train_test_split(train_x,train_y,train_size=0.8)

In [ ]:
model=GaussianNB()
model.fit(train_data,train_target)
val_pred=model.predict(val_data)

In [ ]:
from sklearn.metrics import accuracy_score
print("Model Accuracy:{0:0.4f}".format(accuracy_score(val_target,val_pred)*100)+"%")

Model Accuracy:80.4469%